@import "compass/css3/images";

//padding for bootstrap nav
body {
  padding-top: 25px;
  min-width: 1200px;
}

.page-header {
  padding-bottom: .5em;
  margin: 18px 0 0;
}


//styles for data page
.container-main {
  margin: 1em 5em;
}

.pagination span:first-child {
  float: none;
  padding: 0 .2em;
  line-height: 1.2em;
  text-decoration: none;
  border: none;
}
.pagination span a {
  float: none;
  padding: 0 .2em;
  line-height: 1.2em;
  text-decoration: none;
  border: none;
}

table {
  tr {
    td, th {
      padding: .5em .75em;
      border-bottom: 1px solid #DDD;
    }
  }
  &.single-outbreak {
    margin-top: 2em;
    tr {
      td:first-child {
        font-weight: bold;
        line-height: 17px; 
        text-align: right;
      }
      td:last-child {
        text-align: left;
      }
      td {
        border-bottom: none;
      }
    }
  }
}

//Visualization styles
.viz {
  overflow:hidden;
  margin-top: .5em;

  .map {
    float: left;
    position: relative;
  }

  .tools {
    font-size: .9em;
    margin: 0 auto; 
    margin-bottom: 1em;  
    width: 75%;
    .input-date {
      margin-bottom: 1em;
      float:left;
      label {
        display: inline-block;
        font-weight: bold;
        margin: .5em 0 0 1em;
      }
      #min, #max {
        width: 125px;
        margin-left: .5em;
        float: left;
      }
     img, label {
        float: left;
      }
    }
    .slider-container {
      float: left;
      width: 100%;
    }
    ul.rule {
      list-style: none;
      margin: 0 0 5px 8px;
      float: left;
      li {
        float: left;
        padding-right: 1.5em;
        &:last-child {
          padding: 0;
        }
      }
    }
    .year-left, .year-right {
      border-top: 1px dotted #CCC;
      width: 48%;
      text-align: center;
      display: inline-block;
      margin-left: 1em;
    }
    .year-left {
      float: left;
    }
    .year-right {
      float: left;
    }
  }
  
  .county-hover {
   fill: #666; 
  }

  .bg-path-color {
    fill: #D9D9D9;
  }

  .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background-color: #FFF;
    font-size: 1em;
    padding: 1em;
    border: 1px solid #666;
    opacity: 1;
    min-width: 225px;
    ul {
      list-style: none;
      margin: 0;
      float: left;
      width: 100%;
      li {
        width: 100%;
        float: left;
        a {
          font-weight: bold;
          cursor: hand;
          cursor: pointer;
          width: 50%;
          &.next {
            float: right;
            text-align: right;
          }
          &.prev {
            float: left;
          }
        }
        p {
          &.title {
            font-weight: bold;
            text-decoration: underline;
          }
          &.date {
            margin-bottom: .5em;
          }
          margin: 0;
        }
        span:first-child {
          float: left;
          width: 47%;
          margin-right: 3%;
          font-weight: bold;
          text-align: right;
        }
        span:last-child {
          float: right;
          width: 50%;
        }
      }
    }
  }
  
  .bar-chart {
    float: right;
    width: 25%;
    height: 150px;
    margin: .5em;
    border-bottom: 1px solid #CCC;
    h3 {
      text-align: center;
    }
    .chart {
      rect {
        stroke: white;
        fill: steelblue;
      }
    }
  }
}

