//padding for bootstrap nav
body {
  padding-top: 50px;
}

.container {
  margin-bottom: 5em;
}


//styles for data page
.container-main {
  margin: 1em 5em;
}

.pagination span:first-child {
  float: none;
  padding: 0 .2em;
  line-height: 1.2em;
  text-decoration: none;
  border: none;
}
.pagination span a {
  float: none;
  padding: 0 .2em;
  line-height: 1.2em;
  text-decoration: none;
  border: none;
}

table {
  tr {
    td, th {
      padding: .5em .75em;
      border-bottom: 1px solid #DDD;
    }
  }
  &.single-outbreak {
    margin-top: 2em;
    tr {
      td:first-child {
        font-weight: bold;
        line-height: 17px; 
        text-align: right;
      }
      td:last-child {
        text-align: left;
      }
      td {
        border-bottom: none;
      }
    }
  }
}

