@import "compass/css3/images";


//padding for bootstrap nav
body {
  padding-top: 25px;
  min-width: 1200px;
}

.container {
  margin-bottom: 1em;
}

.page-header {
  padding-bottom: 1em;
}


//styles for data page
.container-main {
  margin: 1em 5em;
}

.pagination span:first-child {
  float: none;
  padding: 0 .2em;
  line-height: 1.2em;
  text-decoration: none;
  border: none;
}
.pagination span a {
  float: none;
  padding: 0 .2em;
  line-height: 1.2em;
  text-decoration: none;
  border: none;
}

table {
  tr {
    td, th {
      padding: .5em .75em;
      border-bottom: 1px solid #DDD;
    }
  }
  &.single-outbreak {
    margin-top: 2em;
    tr {
      td:first-child {
        font-weight: bold;
        line-height: 17px; 
        text-align: right;
      }
      td:last-child {
        text-align: left;
      }
      td {
        border-bottom: none;
      }
    }
  }
}

//Visualization styles
.viz {
  overflow:hidden;
  margin-top: 2em;

  .map {
    float: left;
    position: relative;
  }
  
  .county-hover {
   fill: #666; 
  }
  
  .bar-chart {
    float: right;
    width: 25%;
    height: 150px;
    margin: .5em;
    border-bottom: 1px solid #CCC;
    h3 {
      text-align: center;
    }
    .chart {
      rect {
        stroke: white;
        fill: steelblue;
      }
    }
  }
  #food {
  }
  #location {
  }
  #etiology {
  }
}

