.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand Visualizations
      %ul.nav
        %li= link_to 'Map', root_path
        %li= link_to 'Background', background_path
        %li= link_to 'Data', outbreaks_path

